@{
    ViewData["Title"] = "Kuaför Yönetim Uygulaması";
}

<div class="text-center">
    <h1 class="display-4">Kuaför Yönetim Uygulamasına Hoş Geldiniz</h1>
    <p class="lead">Kuaför ve berber salonlarınızı kolayca yönetin.</p>
</div>

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        @if (User.IsInRole("admin"))
        {
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Salonlar</h5>
                        <a asp-controller="Salon" asp-action="Index" class="btn btn-primary">Salonları Görüntüle</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Randevular</h5>
                    <a asp-controller="Appointment" asp-action="Index" class="btn btn-warning">Randevuları Görüntüle</a>
                </div>
            </div>
        </div>
    </div>
</div>
