@model HairSalonManagement.Models.Salon

<h2>Yeni Salon</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OpeningTime" class="control-label"></label>
        <input asp-for="OpeningTime" type="time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ClosingTime" class="control-label"></label>
        <input asp-for="ClosingTime" type="time" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
